nav {
    font-size: 20px;
    padding: 10px;
    color: white;
}
button {
    border-radius: 10px;
    font-size: 20px;
    margin: 5px;
}
#botao {
    display: flex;
    justify-content: center;
}
.card {
    margin: 10px;
    border: 2px solid rgb(128, 122, 122);
    padding: 5px;
    height: 650px;
    width: 24%;
}
#title {
    background-color: gray;
}
main, body {
    background-color: rgb(24, 26, 146);
}
img {
    height: 200px;
    border-radius: 10px;
}
